
@import './base/colors';
@import './components/header';
@import './base/page';
@import './components/coupon';

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");






body{
    font:100% $primary-font;
    
}


#footer{
    background-color:rgb(50, 50, 59);
    display:flex;
    flex-direction:row;
    color:white;
    justify-content: left;
    line-height: 1.5em;
    text-align:left;
    padding: 2em 1em 2em 1em;
}

ul.menu li {
    display: inline;
    line-height: 1em;
    border-left: solid 1px #e5e6e7;
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
  }

  ul {
    list-style-type: none;
    }

  ul.icons li {
      display:inline;
  }

  //tabs background color
  .nav-tabs .nav-link.active {
      background-color:$nav;
  }

  .nav-tabs .nav-link {
      background-color:$darkred;
  }

  /* carousel */
#quote-carousel 
{
  padding: 0px 10px 30px 10px;
  margin-top: 30px;
  background-color: lightgray;
  
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  /*none*/
  
  
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
 
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: p22-underground, sans-serif;
    float: left;
    margin-right: 10px;
}




/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

//speech bubble 

.speech-bubble {
	position: relative;
	background: #00aabb;
  border-radius: .4em;
  //width:50%;
  //left:25%;
  padding: 1rem;
  box-shadow: 2px 2px 10px slategray;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -12.5px;
	margin-bottom: -25px;
}
  

//footer

#footer {

  display:flex;
  flex-direction:column;
  padding:1rem;
}

//vertically align nav items

.nav-item {

  align-self: center;
}

//footer links

.footerlink {

  color:lightgrey;
}

//main modal

.mainmodal {

  z-index:10000;
}


//full height nav pills

@media only screen and (min-width: 991px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-pills .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
  }
}

// zero padding card body

.card-body {

  padding:0  ;
  text-align:center  ;
}

.rowservices {

  margin:0  ;

  padding:0  ;
}

.colservices {

    margin:0  ;
    padding:0  ;
}

.btnservices {

  font-size: 1.3vw  ;
  padding: .5vw  ;
}

.cardtitleservices {

  background: #004085;
  color: white;
  font-size: 1.8vw;
  padding: .5vw;
}


.cardtextservices {

  border-bottom: .7px solid #e9ecef;
    font-weight: normal;
    font-size: 1.5vw;
    padding: .5vw;
}

.cardservices {

  border: 2px solid #004085;
  margin-bottom: 2vw;
}