.mainnav {
    background-color: rgb(56, 56, 56);
}


//made navbar items full height
.nav-item {

    padding:.5rem;
    margin:0;
    min-height:12vh;
    display:flex;
    align-items: center;
    white-space:nowrap;
    border-right: 1px solid slategrey;

}

.nav-item:hover {

    background-color:red;
}