//make cointer-main padding at desktop view




@media(min-width:460px){
.main-container {

    padding-left: 20%;
    padding-right:20%;
   

    }

// code for the coupons and services images
.couponimages {

    width:10rem;
}

}

.nav-item {
    color:white !important;
}

