//make cointer-main padding at desktop view




@media(min-width:460px){
.main-container {

    padding-left: 17rem;
    padding-right:17rem;
   

    }

// code for the coupons and services images
.couponimages {

    width:10rem;
}

}


